.app-download h1 {
    text-align: center;
    font-family: "WF Visual Sans", sans-serif;
    margin-top: 80px;
    font-size: 25px; 
}

.app-download p {
    text-align: center;
    font-family: "WF Visual Sans", sans-serif;
    font-size: 20px;
    color: blue;
    margin-bottom: 20px;
}

.app-download-platforms {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
}

.app-download>h3 {
    text-align: center;
    font-family: "WF Visual Sans", sans-serif;
    margin-top: 10px;
   margin-bottom: 50px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .app-download h1 {
        font-size: 1.5rem; 
        margin-top: 30px; 
    }

    .app-download p {
        font-size: 18px; /
    }

    .app-download-platforms img {
        width: 80%; 
        max-width: 200px; 
    }
}

